@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


:root{
  --primary-white: #ffff;
  --primary-orange: #f9ab00;
  --secondary-blue:    #3593ff;
  --secondary-black:hsla(0, 0%, 0%,0.65);
  --secondary-gray: hsla(0, 0%, 26%,0.65);
  --secondary-green: rgb(17, 199, 78);


}

body{
  font-family: 'Roboto';
}


/********************NAVBAR********************/

nav{
  z-index: 2;
}

/********************NAVBAR LINKS********************/

nav a.nav-link{
  letter-spacing:  0.0375rem; ;
  font-weight: 500;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav li a{
  margin: 0 0.75rem;
  color: var(--primary-white);
}
.navbar-nav li a:hover{
  margin: 0 0.75rem;
  color: var(--primary-white);
}


.navbar-brand{
  color: var(--primary-white);
}

.navbar-nav  li  a.active{
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav li a:hover{
  border-top: 2px solid orange;
}

.icon{
  color: var(--primary-white);
}


/********************HEADER********************/

.header-wrapper{
  position: relative;
  background: linear-gradient(135deg, var(--secondary-gray), var(--secondary-black)),
  url(./Images/hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* z-index: 1; */
}

.main-info h1{
  color: var(--secondary-green);
}

/********************TYPED*********************/

.typed{
  color: var(--primary-white);
  font-size: 2rem;
}



.tsparticles-canvas-el{
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1  !important ;
}



